@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  padding: 0;
}

h4, a {
  font-family: 'Raleway', cursive;
  font-weight: bold;
}

h4 {
  margin: 2.5rem auto !important;
  text-align: center !important;
}

.navbar-nav {
  font-family: 'Raleway';
  font-weight: 600;
}

aside {
  width: 20%;
  height: 30rem;
  display: flex;
  align-items: center;
}

.aside-container {
  width: 100%;
}

.aside--items {
  width: 12rem;
  margin: 1rem 0;
  padding: .5rem 1rem;
  cursor: pointer;
  border-radius: 5rem;
  transition: all ease-in-out .2s;
  color: #000;
}

.aside--items:hover {
  background: #e9ecef;
}

.aside--button {
  width: 12rem;
  cursor: pointer;
  border-radius: 5rem;
  background: #ec5d60;
}

.aside--button button {
  width: 100%;
  text-align: left;
  padding: .5rem 1rem;
  font-weight: bold;
  font-family: 'Raleway';
  background: transparent;
  border: none;
  outline: none;
  color: #efefef;
}

.aside--items--login,
.aside--items--signup {
  width: 12rem;
  margin: 1rem 0;
  padding: .5rem 1rem;
  cursor: pointer;
  border-radius: 5rem;
  transition: all ease-in-out .2s;
  background: #ec5d60;
  color: #efefef;
}

.aside-container a {
  text-decoration: none;
}

.main-content {
  margin: 2rem 4rem;
}

.main-content h4 {
  font-family: 'Raleway';
  font-weight: 500;
}

.main-form {
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 1rem 1.5rem;
}

#custom_url {
  width: 100%;
  border-radius: 5rem;
  border: none;
  background: #e9e9ed;
  padding: 0 1rem;
}

input::placeholder {
  color: #333 !important;
}

.main-button {
  width: 12rem;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 5rem;
  background: #ec5d60;
  border: none;
  padding: .5rem 1rem;
  font-weight: bold;
  font-family: 'Raleway';
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #efefef;
  transition: all ease-in-out .2s;
}

.main-button:hover {
  background: #9f0c27;
}

input {
  padding: .5rem;
  outline: lightgray 1px solid;
  border: none;
  border-radius: 5px;
  display: block;
  margin-bottom: 2rem;
  height: 2.8rem;
  /* font-family: 'Space Grotesk', sans-serif !important; */
}

input:focus {
  outline: gray 1px solid;
  /* text-align: center; */
}

input::placeholder {
  color: lightgray;
}

div.auth-form form, .user-form form {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

div.auth-form form input {
  width: 30%;
  text-align: center;
  margin: 0 auto;
}

form hr {
  width: 50%;
  text-align: center;
  margin: 1rem auto ;
}

ul, li a {
  text-decoration: none;
  list-style: none;
}

form button {
  width: 30%;
  margin-top: 0 !important;
}

code {
  background-color: #eeee;
  font-size: 1.5rem !important;
  padding: .5rem;
  border: lightgray 1px solid;
}

.copy-btn {
  width: auto;
  border: 1px cadetblue solid;
}

.user-form {
  width: 70%;
  margin: 0 2rem;
  text-align: center;
}

.user-form form input,  .user-form button {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.icon {
  /* width: auto; */
  outline: none;
  border: none;
  /* padding: .68rem; */
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out .2s;
}

.clear {
  background: #ec5d60;
}

.clear:hover {
  background: #dd7833;
}

.form-main input {
  border-radius: 5rem;
  border: none;
  /* outline: none; */
  background: #e9e9ed;
  padding: 0 1rem;
  width: 30rem;
}

#feedback {
  font-family: 'Space Grotesk', sans-serif;
  width: fit-content;
  margin: 2rem;
  position: fixed;
  top: 5px;
  right: 15px;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  z-index: 9999;
}

.flash-msg,
.form-error {
  background-color: lightcoral;
  color: white;
  font-family: 'Raleway';
  font-weight: 500;
  width: fit-content;
  padding: .8rem 1.5rem;
  border-radius: .5rem;
  text-align: center;
  margin: 1rem auto;
}

.circle {
  border-radius: 10rem;
  padding: 2rem;
  background-color: cornflowerblue;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.my-card {
  text-align: center;
  width: fit-content;
  margin: 3rem 0;
}

.history, .analytics {
  /* font-family: 'Space Grotesk', sans-serif */
}

.justlink {
  /* font-family: 'Space Grotesk', sans-serif; */
  font-weight: normal;
}

.last-short {
  margin-top: 10rem;
  text-align: center;
  /*border: 1px lightgray solid;*/
}

#pwd-container, #pwd-form {
  margin: 3rem auto;
  text-align: center;
}
