@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Aboreto', cursive;
    font-weight: bold;
}

* h4 {
    margin: 2.5rem 0 !important;
    text-align: center;
}

aside {
    width: 20%;
    border-right: 1px lightgray solid;
    height: 100% !important;
    float: left;
}

form div {
    margin: 0 auto;
     width: fit-content;
}

input {
    padding: .5rem;
    outline: lightgray 1px solid;
    border: none;
    border-radius: 5px;
    display: block;
    margin-bottom: 2rem;
    height: 2.8rem;
}

input:focus {
    outline: gray 1px solid;
    text-align: center;
}

input::placeholder {
    font-weight: lighter;
}

button, a.btn {
    border: none;
    outline: cadetblue 1px solid;
    background-color: white;
    color: cadetblue;
    font-weight: bold;
    width: 10rem;
    text-align: center;
    padding: 5px;
    border-radius: 5px !important;
    margin-top: 2rem !important;
}

button:active, button:hover {
    background-color: cadetblue;
    color: white;
}

div.auth-form form, .user-form form {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

div.auth-form form input {
    width: 30%;
    text-align: center;
    margin: 0 auto;
}

form hr {
    width: 50%;
    text-align: center;
    margin: 1rem auto ;
}

ul, li a {
    text-decoration: none;
    list-style: none;
}

form button {
    width: 30%;
    margin-top: 0 !important;
}

code {
    background-color: #eeee;
    font-size: 1.5rem !important;
    padding: .5rem;
    border: darkgray 1px solid;
}

.copy-btn {
    width: auto;
    outline: none;
    padding: 0;
}

.user-form {
    width: 70%;
    margin: 0 2rem;
    text-align: center;
}

.user-form form input,  .user-form button {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.icon {
    width: auto;
    outline: none;
    border: cadetblue 1px solid;
    padding: .68rem;
}