{% extends "home.html" %}

{% block main %}
  <div class="text-center m-auto">
    <div class="analytics">
      <h4 >Analytics</h4>
      <div>
        <p class="mb-5"><code>
          <a href="{{ url.short_url }}" class="justlink ">{{ url.short_url }}</a>
        </code></p>
        <p class="text-small">URL: <a class="justlink">{{ url.org_url[:50] }}...</a></p>
        <p class="text-muted">Date Created: {{ url.created_at.strftime('%Y/%b/%d %H:%M:%S')  }}</p>
        <p class="text-muted">
          {% if url.last_visited %}
            Last Visited: {{ url.last_visited.strftime('%Y/%b/%d %H:%M:%S') }}
          {% else %}
            Last Visited: URL has no recorded clicks
          {% endif %}
        </p>
        <div class="my-card">
          <div class="circle shadow mb-3">
            {{ url.get_total_clicks() }} Clicks
          </div>
          <h3>Number of Clicks</h3>
        </div>
        {% if url.get_total_clicks() %}
          <figure>
            <img src="data:image/png;base64,{{ platform_chart }}" alt="Pie Chart" height=360 width=480>
          </figure>
          <div class="my-card">
            <div class="circle shadow bg-secondary mb-3">
              {{ max_clicks_day|first }} <br>
              {{ max_clicks_day|last }} clicks <br>
            </div>
            <h3>Most Clicked Day</h3>
          </div>
          <figure>
            <img src="data:image/png;base64,{{ click_chart }}" alt="Bar Chart" height=360 width=480>
          </figure>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}