{% extends "base.html" %}

{% block content %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul>
        {% for category, message in messages %}
          <li class="flash-msg" data-category="{{ category }}"> {{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <div class="auth-form">
    <h4>Forgot Password</h4>
    <form action="" method="post">
      <input type="email" name="email" required placeholder="Enter your Email Address" size="60"><br>
      <button class="">Send Email</button>
    </form>
  </div>
{% endblock %}