{% extends 'home.html' %}

{% block main %}
  <div class="main-content d-flex align-items-center">
    <div class="text-left history mx-4">
      <h4>Your TRMMR History</h4>
      {% for url in url_history %}
        <div class="mt-5 pt-3">
          <b>TRMMD:</b> <a href="{{ url.short_url }}">{{ url.short_url }}</a>
          <button hx-post="/url/delete/{{ url.unique_id }}" class="w-auto delete p-1">
            <img src="static/images/delete-button.svg" alt="Delete" height="15" width="15">
          </button><br>
          <b>Original URL:</b> <a href="{{ url.org_url }}" class="justlink">{{ url.org_url[0:50] }}...</a><br>
          <b>Date Created:</b> <span class="text-muted">{{ url.created_at }}</span><br>
          <div class="xx">
            <a class="m-1 p-1" href="{{ url_for('url.url_analytics', unique_id=url.unique_id) }}">
              <button class="analytics-button">View analytics -></button>
            </a>
          </div>
        </div>
      {% endfor %}
      {% if url_history %}
        <div>
          {% if url_history.has_prev %}
            <a href="{{ url_for('url.user_history', page=url_history.prev_num) }}" class="justlink">Previous</a>
          {% endif %}
          Page {{ page }} of {{ total_pages }}
          {% if url_history.has_next %}
            <a href="{{ url_for('url.user_history', page=url_history.next_num) }}" class="justlink">Next</a>
          {% endif %}
          <form action="" class="my-2" method="post">
            <button class="main-button" type="submit">Clear history</button>
          </form>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
