{% extends "base.html" %}

{% block content %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul>
        {% for category, message in messages %}
          <li class="flash-msg" data-category="{{ category }}"> {{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <div id="pwd-container">
    <h4>SECURED URL</h4>
    <div class="auth-form">
      <form action="{{ url_for("url.check_url_password", unique_id=unique_id) }}" method="post">
        <input type="password" name="password" placeholder="Enter URL password" required
               aria-required="true" autocomplete="new-password"><br>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}