{% extends "home.html" %}

{% block main %}
  <div class="d-flex align-items-center">
    <div class="mx-5">
      <h4>QR Codes</h4>
      <form action="" hx-post="." hx-target="#foo" method="post" class="form-control m-4 py-4">
          <div class="form-main QR-form d-flex justify-content-center gap-2">
            <input type="text" name="url" id="URLInput" class="d-inline" required placeholder="Enter URL">
            <button class="icon" onclick="pasteFromClipboard()">
              <img src="/static/images/paste-preview.png" alt="" height="20" width="20">
            </button>
            <button class="icon clear" onclick="clearInput()">
              <img src="/static/images/clear-white.svg" alt="" height="20" width="20">
            </button>
          </div>
        <button type="submit" class="mt-4 main-button">Generate</button>
      </form>
      <div id="foo" class="my-3 mx-4"></div>
    </div>
  </div>
{% endblock %}